* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.main__signUp {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	flex-direction: column;
}
